@import "tailwindcss";

/* Custom Fonts */
@font-face {
  font-family: 'Sarcolenta';
  src: url('/fonts/Sarcolenta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura T OT';
  src: url('/fonts/FuturaTOT-Boo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.futuratot {
  font-family: 'Futura T OT', sans-serif;
}

.sarcolenta {
  font-family: 'Sarcolenta';
}

/* CSS Variables */
:root {
  --font-title: 'Sarcolenta', cursive;
  --font-paragraph: 'Futura T OT', sans-serif;

  --background: #ffffff;
  --foreground: #171717;
  --greybackground: #F7F7F7;
  --blackackground: #262626;

  --color-title: #C32C7B;
  --color-paragraph: #3A3A3AB2;
  --color-button-bg: #C32C7B;
  --color-button-text: #ffffff;
  --color-black-paragraph: #3A3A3AB2;
  --color-black-dark-paragraph: #3A3A3A;
}


.color-pink {
  color: var(--color-title);
}

.color-bg-pink {
  color: var(--color-button-bg);
}


.dark-black {
  color: var(--color-black-dark-paragraph);
}

.black {
  color: var(--color-black-paragraph);
}

/* Hide both vertical & horizontal scrollbars inside timeline */
.scrollbar-hide::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.scrollbar-hide {
  -ms-overflow-style: none;   /* IE/Edge */
  scrollbar-width: none;      /* Firefox */
}

@keyframes smoothPulse {
  0%, 100% {
    background-color: #ECEEF0; /* gray */
  }
  50% {
    background-color: #C32C7B; /* pink */
  }
}

.smooth-pulse {
  animation: smoothPulse 3s ease-in-out infinite; /* slow & smooth */
}



.intro-underline {
  width: 75px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid var(--color-title);
}

.product-card {
  background: #F7F7F7;
  transition: background 0.8s;
}
.product-card:hover {
  background: #fee2f1;
  transform: scale(1.35);
  transition-duration: 1s;
}

body {
  background: var(--background);
  color: var(--color-paragraph);
  font-family: var(--font-paragraph);
}

/* Optional utility classes */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
  color: var(--color-title);
}

p {
  color: var(--color-paragraph);
}

footer p,footer h4 {
  color: var(--color-button-text);
}

/* Button style example */
button {
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
  font-family: var(--font-paragraph);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
}


span.arrow_line::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid #000;
}


  

.group:hover h4,
.group:hover p,
.group:hover h3{
  color: white!important;
}
 
.group:hover .white-icon-hover {
  filter: invert(1) sepia(1) saturate(0) brightness(10);
}
 

@media (min-width: 768px) and (max-width: 1023px) {
  .last div:last-child {
    position: relative;
    left: 52%;
  }
}
 
 